<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= t 'layout.title' %></title>
    <meta name="description" content="<%= t 'layout.description' %>" />
    <meta name="viewport" content="width=device-width">
    <meta property="og:image" content="http://brew.hooktstudios.com/img/logo.png"/>
    <meta property="og:site_name" content="<%= t 'layout.title' %>"/>
    <%= css :app, :media => 'screen' %>
    <%= js  :app %>
  </head>
  <body>
    <header class="inner">
      <nav>
        <ul class="meta-nav">
          <li><a href="http://www.hooktstudios.com">hookt</a></li>
          <li><a href="http://code.hooktstudios.com">code</a></li>
          <% if I18n.locale == :en %>
            <li><a href="/">fr</a></li>
          <% else %>
            <li><a href="/en">en</a></li>
          <% end %>
        </ul>
      </nav>
      <h1>Brew.HS</h1>
      <h2><%= t 'upcoming.title' %></h2>
      <p><%= t 'upcoming.desc' %></p>
    </header>
    <ol class="beers">
      <li><%= img '/img/beers/ale_p_sticker.png', width: 378, height: 478 %></li>
    </ol>
    <section class="inner">
      <h2 class="h1-like"><%= t 'about.title' %></h2>
      <h3 class="h2-like"><%= t 'about.subtitle' %></h3>
      <%= t 'about.text' %>
    </section>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9009943-6']);
      _gaq.push(['_setDomainName', 'brew.hooktstudios.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>